/*
*styling for background below. Class img responsive in HTML.
*hexa color = #ffff
*/


body {
   background-color: black;
   font-family:Palatino, serif;
}

#bg {
   position: fixed;
   top: -37.25%;
   left: -50%;
   width: 200%;
   height: 200%;
}

#bg img {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   min-width: 50%;
   min-height: 50%;
}


.pure-img-responsive {
   max-width: 100%;
   height: auto;
}

.h1{
   font-family: Palatino, serif;
}

.nav {
   background:none !important;
   border: 0;
   box-shadow:none !important;
   font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
   color: navajowhite;
}

.navbar-default{
   background:none !important;
   border: 0;
   box-shadow:none !important;
   font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
   color: navajowhite;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:visited,
.navbar-default .navbar-nav>li>a:focus {
   color: navajowhite;
}

.navbar-default .navbar-nav>li>a:hover {
   color: aqua;

}

.navbar {
   border-bottom: 1px solid navajowhite;
}

.main {
   color:navajowhite;
   font-family: Palatino,serif;
}

textarea {
   overflow: auto;
   background-color: black;
   border: 1px solid navajowhite;
   margin: 20px 0 !important;
   font-size: 0.8em !important;
   font-family: helvetica, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
